* {
    padding: 0;
    margin: 0;
}

body {
    background: #dee2e6;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    background: white;
    margin-top: 5rem;
    width: 350px;
    border-radius: 10px;
    box-shadow: 3px 5px 5px rgb(107, 106, 116);
}


.cards-hearder {
    /* background: yellow; */
    display: flex;
    margin-bottom: 1rem;
    justify-content: center;
}

.cards-hearder h1 {
    text-align: center;
    font-weight: 900;
}

.btn-editar {
    border: none;
    background: transparent;
    margin-left: 10px;
    cursor: pointer;
}

img {
    width: 20px;
}

.btn-add {
    display: none;
    border: none;
    background: transparent;
    margin-left: 10px;
    cursor: pointer;
}


.card-botte {
    background: whitesmoke;
    display: flex;
    padding: 1rem;
    height: 4.0rem;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 3px 5px 5px rgb(136, 136, 136);
    position: relative;
    /* margin-bottom: 1rem; */
    width: 300px;
}

.nameBotte h2 {
    position: absolute;
    width: auto;
    height: 20px;
    top: 50%;
    margin-top: -10px;
}

.volumeBotte {
    background: green;
    position: absolute;
    width: 6rem;
    padding: 4px;
    right: 2rem;
    border-radius: 10px;
    color: antiquewhite;
    display: flex;
    justify-content: center;

}


.card {
    display: flex;
    justify-content: space-evenly;
    width: 350px;
    height: 4.0rem;
    display: flex;
    position: relative;
    margin-bottom: 1rem;
}

.button-close {
    display: none;
    height: 30px;
    width: 30px;
    margin-left: 5px;
    background: red;
    border: none;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    right: 9px;
}

.button-close h2 {
    font-size: large;
    color: white;
}

/* ############################################################### */
/* rodape do card */
footer {
    display: none;
    justify-content: space-evenly;
}

.btn-cancelar {
    border: none;
    background: red;
    color: white;
    border-radius: 5px;
    font-size: large;
    padding: 0.2rem;
    width: 5rem;
}

.btn-salvar {
    border: none;
    background: blue;
    color: white;
    border-radius: 5px;
    font-size: large;
    padding: 0.2rem;
    width: 5rem;
}



/* ############################################################### */
/* Gerando modal pop-up */
.modal {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
}

.modal-content {
    margin: 0 auto;
    margin-top: 20%;
    max-width: 400px;
    background: white;
    padding: 0px;
    box-shadow: 0 0 2px #fff;
}

.modal-header,
.modal-body,
.modal-footer {
    padding: 10px;
}



.modal-header {
    /* background: #ccc; */
}

.modal-header h1 {
    text-align: center;
    font-weight: lighter;
}

.modal-header h2 {
    text-align: center;
    font-weight: bolder;
}

.modal-body {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

label {
    margin-right: 10px;
    font-size: 28px;
}

input,
button {
    flex: 1;
}

input {
    font-size: 20px;
    /* Tamanho da fonte para os inputs de texto */
}

.modal-footer {
    /* background: #ccc; */
    display: flex;
    justify-content: space-evenly;
}


/* ############################################################### */
/* Modal Onbotte */
.modal-header-titulo {
    display: flex;
    justify-content: space-between;
}

.modal-header button {
    position: absolute;
    right: 0;
}

.loader-body {
    display: flex;
    justify-content: center;
}

#onBotte-cancelar {
    /* display: none; */
}

#onBotte-aguarde {
    display: none;
}

.loader {
    animation: rotating 1s infinite;
    border: 6px solid #e5e5e5;
    border-radius: 50%;
    border-top-color: #51d4db;
    height: 50px;
    width: 50px;
}

@keyframes rotating {
    to {
        transform: rotate(1turn);
    }
}

.show {
    display: block !important;
    /* Outros estilos para exibir o modal... */
}

.btn-concluir {
    background: green;
    color: white;
    border-radius: 5px;
    font-size: large;
    padding: 0.2rem;
    width: 15rem;
}

.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}


.modal-body input{
    width: 100%;
}

.btn-medir{
    background: green;
    color: white;
    border-radius: 5px;
    font-size: large;
}


/* ############################################################### */
/* Define o css quando o dipositivo tiver umas visualização menor que 370px */
@media screen and (max-width:730px) {
    body {
        background: white;
    }

    .column {
        margin-top: 1rem;
        background: none;
        box-shadow: none;
        width: auto;
    }

    .modal-content {
        margin-top: 50%;
        max-width: 80vw;
    }

    
}